{{! template-lint-disable no-duplicate-landmark-elements }}
{{page-title "ember-side-menu"}}

{{#if this.isSingle}}
  <SideMenu @id="singleMenu" @width="300px" @side={{this.side}}>
    <span class="close-button" role="button" {{on "click" (fn this.close "singleMenu")}}></span>

    <nav class="sm-item-list">
      <a href="">
        <FaIcon @icon="star" />
        <span>Favorites</span>
      </a>
      <a href="">
        <FaIcon @icon="bell" />
        <span>Alerts</span>
      </a>
      <a href="">
        <FaIcon @icon="envelope" />
        <span>Messages</span>
      </a>
      <a href="">
        <FaIcon @icon="comment" />
        <span>Comments</span>
      </a>
    </nav>
  </SideMenu>

  <ContentBackdrop @menuId="singleMenu" />
{{else}}
  <SideMenu @id="menuLeft" @width="300px" @side="left">
    <span class="close-button" role="button" {{on "click" (fn this.close "menuLeft")}}></span>

    <nav class="sm-item-list">
      <a href="">
        <FaIcon @icon="star" />
        <span>Favorites</span>
      </a>
      <a href="">
        <FaIcon @icon="bell" />
        <span>Alerts</span>
      </a>
      <a href="">
        <FaIcon @icon="envelope" />
        <span>Messages</span>
      </a>
      <a href="">
        <FaIcon @icon="comment" />
        <span>Comments</span>
      </a>
    </nav>
  </SideMenu>

  <SideMenu @id="menuRight" @width="300px" @side="right">
    <span class="close-button" role="button" {{on "click" (fn this.close "menuRight")}}></span>

    <nav class="sm-item-list">
      <a href="">
        <FaIcon @icon="chart-column" />
        <span>Analytics</span>
      </a>
      <a href="">
        <FaIcon @icon="newspaper" />
        <span>Reading List</span>
      </a>
    </nav>
  </SideMenu>

  <ContentBackdrop @menuId="menuLeft" />
  <ContentBackdrop @menuId="menuRight" />
{{/if}}



<div id="outer-container">
  {{#if this.isSingle}}
    <SideMenuToggle @side={{this.side}} @menuId="singleMenu" />
  {{else}}
    <SideMenuToggle @side="left" @menuId="menuLeft" />
    <SideMenuToggle @side="right" @menuId="menuRight" />
  {{/if}}

  <main id="page-wrap">
    <h1><a href="https://github.com/tsubik/ember-side-menu">ember-side-menu</a></h1>

    <p>
      Show single or multiple menu example?
    </p>

    <TabButton @side="left" @active={{this.isSingle}} {{on "click" (fn this.changeMode "single")}}>Single</TabButton>
    <TabButton @side="right" @active={{this.isMulti}} {{on "click" (fn this.changeMode "multi")}}>Multi</TabButton>

    <br/>

    {{#if this.isSingle}}
      <p>
        Choose single menu side.
      </p>

      <TabButton @side="left" @active={{this.isLeft}} {{on "click" (fn this.changeSide "left")}}>Left</TabButton>
      <TabButton @side="right" @active={{this.isRight}} {{on "click" (fn this.changeSide "right")}}>Right</TabButton>
    {{/if}}

    <h2 class="description">
      Mobile friendly Ember menu component.
    </h2>
  </main>
</div>
