{{page-title "ember-side-menu"}}

{{#if isSingle}}
  {{#side-menu id="singleMenu" width="300px" side=side}}
    <span class="close-button" {{action "close" "singleMenu" on="click"}}></span>

    <nav class="sm-item-list">
      <a href="">
        <i class="fa fa-fw fa-star-o"></i>
        <span>Favorites</span>
      </a>
      <a href="">
        <i class="fa fa-fw fa-bell-o"></i>
        <span>Alerts</span>
      </a>
      <a href="">
        <i class="fa fa-fw fa-envelope-o"></i>
        <span>Messages</span>
      </a>
      <a href="">
        <i class="fa fa-fw fa-comment-o"></i>
        <span>Comments</span>
      </a>
    </nav>
  {{/side-menu}}

  {{content-backdrop menuId="singleMenu"}}
{{else}}
  {{#side-menu id="menuLeft" width="300px" side="left"}}
    <span class="close-button" {{action "close" "menuLeft" on="click"}}></span>

    <nav class="sm-item-list">
      <a href="">
        <i class="fa fa-fw fa-star-o"></i>
        <span>Favorites</span>
      </a>
      <a href="">
        <i class="fa fa-fw fa-bell-o"></i>
        <span>Alerts</span>
      </a>
      <a href="">
        <i class="fa fa-fw fa-envelope-o"></i>
        <span>Messages</span>
      </a>
      <a href="">
        <i class="fa fa-fw fa-comment-o"></i>
        <span>Comments</span>
      </a>
    </nav>
  {{/side-menu}}

  {{#side-menu id="menuRight" width="300px" side="right"}}
    <span class="close-button" {{action "close" "menuRight" on="click"}}></span>

    <nav class="sm-item-list">
      <a href="">
        <i class="fa fa-fw fa-bar-chart-o"></i>
        <span>Analytics</span>
      </a>
      <a href="">
        <i class="fa fa-fw fa-newspaper-o"></i>
        <span>Reading List</span>
      </a>
    </nav>
  {{/side-menu}}

  {{content-backdrop menuId="menuLeft"}}
  {{content-backdrop menuId="menuRight"}}
{{/if}}



<div id="outer-container">
  {{#if isSingle}}
    {{side-menu-toggle side=side menuId="singleMenu"}}
  {{else}}
    {{side-menu-toggle side="left" menuId="menuLeft"}}
    {{side-menu-toggle side="right" menuId="menuRight"}}
  {{/if}}

  <main id="page-wrap">
    <h1><a href="https://github.com/tsubik/ember-side-menu">ember-side-menu</a></h1>

    <p>
      Show single or multiple menu example?
    </p>

    {{#tab-button side="left" active=isSingle click=(action "changeMode" "single")}}Single{{/tab-button}}
    {{#tab-button side="right" active=isMulti click=(action "changeMode" "multi")}}Multi{{/tab-button}}

    <br/>

    {{#if isSingle}}
      <p>
        Choose single menu side.
      </p>

      {{#tab-button side="left" active=isLeft click=(action "changeSide" "left")}}Left{{/tab-button}}
      {{#tab-button side="right" active=isRight click=(action "changeSide" "right")}}Right{{/tab-button}}
    {{/if}}

    <h2 class="description">
      Mobile friendly Ember menu component.
    </h2>
  </main>
</div>
